/*
-----------------------------------------
Hero
-----------------------------------------
*/
.hero{
    position: relative;
    height: 500px;
    $hero : &;
    &__content{
        z-index: 2;
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
    }
    &__left-cell{
        display: flex;
        flex-direction: column;
        justify-content: center
        #{$hero}__title,
        #{$hero}__sub{
            text-align: center;
        }
    }
    &__img{
        position: absolute;
        top: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
        z-index: -1;
       

        &:after,
        img{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
        }
        &:after{
            content: '';
            background-color: rgba($color: $white, $alpha: 0.2);

        }
        img{
            z-index: -2;
            object-fit: cover;
        }
    }
    

}